<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch">
        <observer name="checkb2b" instance="IWD\B2B\Observer\CheckB2BObserver" />
    </event>
    <event name="customer_register_success">
        <observer name="b2bregistersuccess" instance="IWD\B2B\Observer\RegisterSuccessObserver" />
    </event>
</config>
