<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="IWD_B2B::b2b_files" title="B2B Files" module="IWD_B2B" sortOrder="100" parent="Magento_Backend::content_elements" resource="IWD_B2B::b2b_files"/>
        <add id="IWD_B2B::b2b_productgrid_index" title="B2B Suite Tables" module="IWD_B2B" sortOrder="210" parent="Magento_Sales::sales_operation" resource="IWD_B2B::b2b_productgrid"/>
        <add id="IWD_B2B::b2b_roles" title="B2B User Roles" module="IWD_B2B" sortOrder="100" parent="Magento_User::system_acl" resource="IWD_B2B::b2b_roles"/>
        <add id="IWD_B2B::b2b_company" title="Companies" module="IWD_B2B" sortOrder="100" parent="Magento_Customer::customer" action="b2b/company" resource="IWD_B2B::b2b_company"/>
        <add id="IWD_B2B::b2b_salesrep_index" title="Sales Representatives" module="IWD_SalesRep" sortOrder="211" parent="Magento_Sales::sales_operation" resource="IWD_SalesRep::salesrep"/>
        <add id="IWD_B2B::b2b_salesrep_report_order" title="Sales Representatives" module="IWD_SalesRep" sortOrder="71" parent="Magento_Reports::report_salesroot" resource="IWD_SalesRep::reports_order"/>
        <add id="IWD_B2B::b2b_shared_catalog_index" title="Shared Catalogs" module="IWD_Sharedcatalogs" sortOrder="16" parent="Magento_Catalog::inventory" resource="Magento_Catalog::products"/>
    </menu>
</config>
